<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper waves-effect">
      <img
        src="../../../../assets/img/angular-mdb.png"
        class="img-fluid"
        alt=""
      />
    </a>

    <div class="list-group list-group-flush">
      <a
        routerLink="dashboards/v1"
        routerLinkActive="active"
        class="list-group-item list-group-item-action waves-effect"
      >
        <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
      </a>
      <a
        routerLink="profiles/profile1"
        routerLinkActive="active"
        class="list-group-item list-group-item-action waves-effect"
      >
        <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profile</a
      >
      <a
        routerLink="tables/table1"
        routerLinkActive="active"
        class="list-group-item list-group-item-action waves-effect"
      >
        <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Create Notes</a
      >
      <a
        routerLink="tables/table1"
        routerLinkActive="active"
        class="list-group-item list-group-item-action waves-effect"
      >
        <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Logout</a
      >
    </div>
  </div>
  <!-- Sidebar -->

  <!--Navbar-->
  <mdb-navbar
    [containerInside]="false"
    SideClass="navbar navbar-expand-lg navbar-light white"
  >
    <!-- Navbar brand -->
    <logo class="my-3 mx-auto">
      <h2><strong class="black-text"><b>NoteDown</b> - An online application for storing your daily notes</strong></h2>
    </logo>
    <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->
</header>
<!--Main Navigation-->
